@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    /* colors */
    --color-sand-50: #fefae6;
    --color-sand-100: #fde6b0;
    --color-sand-200: #fcd49e;
    --color-sand-300: #f6bf84;
    --color-sand-400: #ec9f66;
    --color-sand-500: #de8a55;
    --color-sand-600: #c7743d;
    --color-sand-700: #a95d2b;
    --color-sand-800: #844622;
    --color-sand-900: #5b321b;
    --color-sand-950: #321f12;

    --color-blue-600: #007bff;

    --color-black: #000000;
    --color-white: #ffffff;

    --color-sky-300: #7dd3fc;
    --color-twilight: #180F30;

    /* gradients */
    --gradient-day: linear-gradient(to right, #4682b4 0%, #87ceeb 50%, #cceeff 100%);
    --gradient-dusk: linear-gradient(to right, #4B0082 0%, #2F005F 50%, #191970 100%);
    --gradient-night: linear-gradient(to right, #000000 0%, #150020 50%, #2C003E 100%);

    --gradient-sand-50: linear-gradient(to right, #fefae6 0%, #fceec0 50%, #f8d98b 100%);
    --gradient-sand-100: linear-gradient(to right, #fde6b0 0%, #fcd38e 50%, #f8b463 100%);
    --gradient-sand-200: linear-gradient(to right, #fcd49e 0%, #f5b475 50%, #e78f50 100%);
    --gradient-sand-300: linear-gradient(to right, #f6bf84 0%, #e8a261 50%, #cf7948 100%);
    --gradient-sand-400: linear-gradient(to right, #ec9f66 0%, #c66c40 50%, #a94e2f 100%);
    --gradient-sand-500: linear-gradient(to right, #de8a55 0%, #b85a35 50%, #933a20 100%);
    --gradient-sand-600: linear-gradient(to right, #c7743d 0%, #a8512c 50%, #843619 100%);
    --gradient-sand-700: linear-gradient(to right, #a95d2b 0%, #8a3c1b 50%, #62280f 100%);
    --gradient-sand-800: linear-gradient(to right, #844622 0%, #5e2e15 50%, #3b1c0b 100%);
    --gradient-sand-900: linear-gradient(to right, #5b321b 0%, #381e0e 50%, #1f0f06 100%);
    --gradient-sand-950: linear-gradient(to right, #321f12 0%, #1c0e07 50%, #0c0502 100%);
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer theme {
    /* Default */
    .default {
        --color-background: #f1f5f9;

        --color-zinc-50: var(--color-slate-50);
        --color-zinc-100: var(--color-slate-100);
        --color-zinc-200: var(--color-slate-200);
        --color-zinc-300: var(--color-slate-300);
        --color-zinc-400: var(--color-slate-400);
        --color-zinc-500: var(--color-slate-500);
        --color-zinc-600: var(--color-slate-600);
        --color-zinc-700: var(--color-slate-700);
        --color-zinc-800: var(--color-slate-800);
        --color-zinc-900: var(--color-slate-900);
        --color-zinc-950: var(--color-slate-950);

        --color-white: var(--color-white);
        --color-black: var(--color-black);

        --color-accent: var(--color-zinc-800);
        --color-accent-content: var(--color-zinc-800);
        --color-accent-foreground: var(--color-white);
    }

    .dark .default {
        --color-background: #1e293b; /* slate-800 */
    }

    /* Desert */
    .desert {
        --color-accent: var(--color-blue-600); /* primary color */
        --color-accent-content: var(--color-sand-600); /* secondary color */
        --color-accent-foreground: var(--color-white); /* text color */
    }

    .desert .fill-dunes-foreground { fill: var(--color-sand-50); }
    .desert .fill-dunes-background { fill: var(--color-sand-200); }

    .dark .desert .fill-dunes-foreground { fill: var(--color-sand-700); }
    .dark .desert .fill-dunes-background { fill: var(--color-sand-900); }

    .desert.bg-background { background-image: var(--gradient-day); }
    .dark .desert.bg-background { background-image: var(--gradient-night);}

    /* Laravel */
    .laravel {
        --color-accent: #e40014;
        --color-accent-content: #f53003;
        --color-accent-foreground: #fdfdfc;
        --color-background: #fdfdfc;
    }

    .dark .laravel {
        --color-accent-content: #f61500;
        --color-background: #111110;
    }
}

/* Flux Overrides */

/* Laravel */
.laravel {
    [data-flux-card] {
        @apply bg-inherit;
    }

    [data-flux-sidebar] {
        background-color: var(--color-background);
        @apply lg:bg-inherit;
    }
}

/* Desert */
.desert {
    [data-flux-card] {
        --color-white: rgba(255, 255, 255, 0.5);
    }

    [data-flux-sidebar] {
        background: var(--color-sand-300);
        --color-zinc-400: var(--color-zinc-700);
    }

    [data-flux-sidebar-toggle] {
        --color-zinc-400: var(--color-zinc-700);
    }

    .dark & {
        [data-flux-card] {
            --color-white: rgba(255, 255, 255);
        }

        [data-flux-sidebar] {
            background: var(--color-sand-950);
            --color-zinc-400: var(--color-zinc-500);
        }

        [data-flux-sidebar-toggle] {
            // --color-zinc-400: var(--color-blue-600);
        }
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-gray-200 border-current;
    }
}

[data-flux-field]:not(ui-radio) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
